/* html{
  background: url("./images/start-bk.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
body {
  position: relative; /* Set the body to relative positioning */
  background: url("./images/start-bk.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color:white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Adjust the last value for transparency (0.5 for semi-transparent black) */
  z-index: -1; /* Place the overlay behind the content */
}

.note{
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 30px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(23, 135, 255);
  margin-bottom: -20px;
}

.name-in{
  padding: 10px;
  color: white;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.name-label{
  color: rgb(146, 215, 255);
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.cell:active {
  outline: none;
}

/* 3*3 Grid */

button {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid dodgerblue;
  margin-left: auto;
  border-radius: 8px;

  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
}

/* Reset Button */
#but {
  /* box-sizing: border-box; */
  /* width: 95px;
  height: 40px; */
  /* border: 1px solid dodgerblue; */
  /* margin-left: auto; */
  /* border-radius: 8px; */

  /* background-color: whitesmoke; */
  /* color: dodgerblue; */
  /* font-size: 20px; */
  /* cursor: pointer; */
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}
button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Player turn space */
#print {
  color: #1e90ff;
  font-size: 20px;
}

/* Main Container */
#main {
  display: none;
  text-align: center;
}

/* Game Instruction Text */
#ins {
  color: dodgerblue;
}

#start-screen {
  padding: 0 20px;
  text-align: center;
  display: block;
  display: grid;
}

form {
  margin-top: 100px;
}

/* #start-but {
  margin: 0 auto;
  margin-top: 100px;
  justify-content: center;
  font-size: 2rem;
} */
#start-but {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

#start-but:disabled {
  pointer-events: none;
}

#start-but:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#start-but:active {
  box-shadow: none;
  transform: translateY(0);
}









#win-screen {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding-top: 15%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.795);
  /* height: 100%; */
  font-size: 4rem;
  justify-content: center;
  text-align: center;
}

#scoreboard {
  display: none;
  text-align: center;
  justify-content: center;
  height: 100%;
}

#ret-but {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

#ret-but:disabled {
  pointer-events: none;
}

#ret-but:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#ret-but:active {
  box-shadow: none;
  transform: translateY(0);
}

#scoretable {
  text-align: center;
  justify-content: center;
}

.table-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.view-sb {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.view-sb:disabled {
  pointer-events: none;
}

.view-sb:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.view-sb:active {
  box-shadow: none;
  transform: translateY(0);
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  width: 300px;
}


#leaderboard-container{
  display: none;
  height: 100%;
  text-align: center;
  justify-content: center;
}

#load-lead{
  cursor: pointer;
  margin-top: 20px;
  font-size: 0.8rem;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  button{
    width: 60%;
  }
  #but {
    width: 60%;
  }
  #start-but{
    width: 60%;
  }
  #ret-but{
    width: 60%;
  }
  .view-sb{
    width: 60%;
  }
}